<div class="launchpad-plugin">
    <div style='font-size:20px;font-weight:900;'>Georgia Flood and Sea Level Rise</div>
    <div style='margin-top:20px;line-height:1;'>This app visualizes the potential inundation effects of storm surge and future sea level rise.</div>
    <div style='margin:20px 0px;line-height:1;font-size:12px;color: #9a9fa5;'>Note: This app is not intended to provide real-time flooding risks or evacuation information or substitute for engaging your local city and county floodplain management office or emergency management officials.</div>

    <div style="text-align:center;">
        <button class="button button-primary openApp">Get Started</button>
    </div>

    <h3 class="i18n" data-i18n="Partners">Partners</h3>
    <div class="partners">
        <ul style="list-style-type: none;">
        
            <li>
                <a href="http://nature.org" target="_blank">
                    <img src="img/TNCLogoPrimary_RGB.png" alt="The Nature Conservancy" title="The Nature Conservancy">
                </a>
            </li>
            <li>
                <a href="https://www.co.camden.ga.us" target="_blank">
                    <img src="img/Camden_small.png" alt="Camden County" title="Camden County">
                </a>
            </li>
            <li>
                <a href="http://www.crc.ga.gov" target="_blank">
                    <img src="img/CRC_small.jpg" alt="Coastal Regional Commission" title="Coastal Regional Commission">
                </a>
            </li>
            <li>
                <a href="https://coastalgadnr.org" target="_blank">
                    <img src="img/CRD_small.png" alt="Coastal Resources Division" title="Coastal Resources Division">
                </a>
            </li>
            <li>
                <a href="https://gacoast.uga.edu" target="_blank">
                    <img src="img/GA_small.png" alt="University of Georgia" title="University of Georgia">
                </a>
            </li>
            <li>
                <a href="https://www.noaa.gov" target="_blank">
                    <img src="img/NOAA_small.png" alt="NOAA" title="NOAA">
                </a>
            </li>
            <li>
                <a href="http://www.stmarysga.gov" target="_blank">
                    <img src="img/StMary_small.jpg" alt="St Marys" title="St Marys">
                </a>
            </li>
        
        </ul>
    </div>
</div>        


<script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script>